# System files
*-debug.log
.DS_Store
.angular
.idea
.run
dist
node_modules
tmp

# Sensitive Firebase files
.firebase
.runtimeconfig.json
gha-creds-*.json

# Version side-effect files
apps/heypoint/src/.git-info.ts
apps/heypoint/src/.package-version.ts
